<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <title>ابحث لي</title>
  </head>
  <body>

    <div class="container" style="margin-top: 100px;">
  
      <p class="lead">النتيجة</p>
      {{ if eq .Err.Code "successfull"}}
      <div class="alert alert-success" role="alert">
        {{.Err.Message}}
      </div>

      {{else}}
      <div class="alert alert-danger" role="alert">
        {{.Err.Message}}
      </div>
      {{end}}

      {{ if eq .Err.Code "successfull"}}
        <p>تمت العملية بنجاح. الرجاء اغلاق هذه وادخال الرمز السري الجديد في تطبيق ابحث لي</p>
      
      {{else}}
   
        <p>الرجاء المعاودة مرة آخرى عن طريق تطبيق ابحث لي</p>
   
      {{end}}


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JavaScript Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>  
      
  </body>
</html>